@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
    background-color: #FFD0D0;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 80px;
    font-size: 18px;
}

ul {
    list-style-type: none;

}

li {
    display: inline;
    margin: 20px;
}

li:first-child {
    margin-left: 0px;
}
li:nth-child(4) {
    margin: 0px;
}

.container {
    display: grid;
    place-content: center;
    margin-top: 70px;
    width: 350px;
    height: 550px;
    background-color:rgba(17, 24, 39, 1);
    border-radius: 20px;
}

.line-1{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: -2%;
    margin-left: 1.7%;
    color: rgba(17, 24, 39, 1);
}

hr {
    width: 400px;
}

nav a { 
    text-decoration: none;
    color: rgba(17, 24, 39, 1);
}

nav a:hover {
    text-shadow: 2px 2px 6px rgba(17, 24, 39, 1);
}

form {
    display: grid;
    place-content: center;
    gap: 20px;
}

h3 {
    margin-top: 25px;
    text-align: center;
    color: white;
}


.input-item {
  display: grid;
  place-content: center;
}

label {
  font-size: 14px;
  color: rgba(156, 163, 175, 1);
}

input {
  border-radius: 8px;
  padding: 6px 10px;
  background-color: transparent;
  border: 1px solid rgba(156, 163, 175, 1);
  color: white;
}

input:focus {
  border-color: rgba(167, 139, 250);
}

.label1 {
  margin-top: 20px;
}

span {
  text-align: right;
  font-size: 12px;
  color:whitesmoke;
  margin-top: 2px;
}
span a {
  color:whitesmoke;
  text-decoration: none;
}
span a:hover {
  font-style: normal;
  text-decoration: underline;
}

form button {
  margin-top: 20px;
  padding: 6px 8px;
  border-radius: 8px;
  background-color: rgba(167, 139, 250, 1);
  border: none;
  display: block;
  font-weight: 600;
  font-size: 14px;
}

form button:hover {
  background-color: whitesmoke;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.line1 {
  height: 1px;
  flex: 1 1 0%;
  background-color: rgba(55, 65, 81, 1);
}

.login {
  color: rgba(156, 163, 175, 1);
  font-size: 12px;

}


.social-icons {
  margin-top: -15px;
  display: flex;
  justify-content: center;
}

.social-icons .icon {
  border-radius: 0.125rem;
  padding: 0.75rem;
  border: none;
  background-color: transparent;
  margin-left: 8px;
}

.social-icons .icon svg {
  height: 1.25rem;
  width: 1.25rem;
  fill: #fff;
}

.social-icons .icon svg:hover {
  fill:#FFD0D0;
}


.signup {
  font-size: 14px;
  color: rgba(156, 163, 175, 1);
}

.signup a {
  color: whitesmoke;
  text-decoration: none;
}

.signup a:hover {
  font-style: normal;
  text-decoration: underline;
}